.ipynb_checkpoints*
notebooks/archive
notebooks/wandb
input/*
.env
.ipynb_checkpoints
archive/
!input/input.txt
input.zip

# Trained models to ommit.
notebooks/trained_models/smolvlm256m_fullft_qwen2_5_vl_3b_gt_20250501